.articles
  &__container
    padding-bottom: 20px
  &__title
    margin-bottom: 0
    font:
      family: $heading
  &__date
    margin-top: 5px
    color: #777
    font:
      family: $body
      weight: 300
      size: 12px
  &__body
    font:
      size: 20px
    line-height: 30px
