.hero-header
  margin: 0 0 35px 0
  width: 100%
  height: 350px
  background:
    image: url('http://www.camposanto.com/external/wallpapers/Launch_OriginalColors/FWO_2560x1440.jpg')
    size: cover
    position: 50% 50%
  position: relative
  &__kicker
    width: 400px
    max-width: 90%
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
  &__avatar
    position: relative
    top: 45px
    float: left
    height: 75px
    width: 75px
    background:
      image: url('https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAAkZAAAAJGIzODc4NDdiLWRjOWMtNGYxNy1iZjU4LTM2YjYwM2FiM2M1YQ.jpg')
      size: cover
    border-radius: 50%
    border: 3px solid #191919
  &__feed
    float: left
    position: relative
    margin-left: 20px
    padding-top: 5px
    font:
      size: 20px
    background-color: #fff
    padding: 5px 10px 0 10px
    border-radius: 20px 20px 20px 0px
